 /* сброс Мейера   v2.0 | 20110126   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


  /* my own styles  */

    /* sizes  */
	
	body {
	 background-color:#282828
}
	
	
  .oneOfFour {
	width: 1024px;
}
  
  #top{
	height: 360px;
}
  #middleTop{
	height: 365px;
}
  #middleDown{
	height: 515px;
}
  #footer{
	height: 405px;
}
  
  
   /* background colors */
  
  #top{
	 background-color: #214b90; 
}
  #middleTop, #footer {
	background-color: #ffffff;
}
  #middleDown{
	background-color: #ececec;
}
    
    
  
  
  /* centering 4 main DIVs  */
  
  div.oneOfFour {
	margin: 0 auto;
}


  
    /* centering of content in some DIVs  */
  #top,  #middleDown, #footer{
  text-align: center;
  }
  
  	/*fonts*/

	@font-face {
    font-family: 'Helvetica Neue Bold Italic';
    src: url(../fonts/HelveticaNeueBoldItalic.ttf);
				}
				
	@font-face {
    font-family: 'Helvetica Neue Italic';
    src: url(../fonts/HelveticaNeueItalic.ttf);
				}
				
	@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url(../fonts/HelveticaNeueMedium.ttf);
				}
				
	@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url(../fonts/HelveticaNeueRegular.ttf);
				}
				
	@font-face {
    font-family: 'Pacifico Regular';
    src: url(../fonts/PacificoRegular.ttf);
				}
				
	@font-face {
    font-family: 'Raleway Bold';
    src: url(../fonts/RalewayBold.ttf);
				}
				
	@font-face {
    font-family: 'Raleway Semi Bold';
    src: url(../fonts/RalewaySemiBold.ttf);
				}
	

	@font-face {
    font-family: ProximaNovaSemibold;
    src: url(../fonts/ProximaNova-Semibold.ttf);
				}
					
	@font-face {
    font-family: MyriadProRegular;
    src: url(../fonts/MyriadProRegular.otf);
				}
				
				
			 	
				
				
	 
  #top,  #middleDown, #middleTop, #footer{
   position: relative;
   }
   
  #textOnTop{
 	display:  block;
    position: absolute;
    top: 44px;
    left: 210px;
	font-family: 'Helvetica Neue Regular',  Helvetica;
	font-size: 24pt; 	
	font-weight: bold;
	color: #ffffff;
  }
  
     
  #buttonOnTop{
	display:  block;
 	position: absolute;
    top: 40px;
    left: 686px;
	height: 30px;
	width: 126px;
	vertical-align: middle;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12pt;
	background-color: transparent;
	color: #ffffff;
    border: 1px solid #ffffff; 
   border-radius: 17px 17px 17px 17px; 
   -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
   -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
   -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
	
  }
  
  
  
  #buttonOnTop:hover {
  
  background: black; /* Цвет фона */
   color: white;
      border: none; 
	  
  
	   outline: none;
   border-radius: 17px 17px 17px 17px; 
   -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
   -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
   -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
   }
  
  
  #buttonOnTop:focus {
    
	background: black; /* Цвет фона */
	color: red;
	border: 1px solid white; 
	outline: none;
    border-radius: 17px 17px 17px 17px; 
    -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
    -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
    -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
   }
   
  
   #textOnTop2{
 	 display:  block;
	  padding-top: 116px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 32pt; 	
	color: #ffffff;
  }
  
   #textOnTop3{
 	 display:  block;
	 padding-top: 40px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 40pt; 	
	color: #ffffff;
  }
  
  
  #buttonOnTop2{
	display:  block;
	margin: 24px auto;
    height: 30px;
	width: 126px;
	vertical-align: middle;
	font-family: ProximaNovaSemibold, Arial;
	font-size: 9pt;
	background-color: #102548;
	color: #ffffff;
    border: none; 
    border-radius: 17px 17px 17px 17px; 
   -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
   -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
   -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
	
  }
  
  
  
  #buttonOnTop2:hover {
  
  background: black; /* Цвет фона */
   color: white;
      border: none; 
	  
  
	   outline: none;
   border-radius: 17px 17px 17px 17px; 
   -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
   -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
   -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
   }
  
  
  #buttonOnTop2:focus {
    
	background: black; /* Цвет фона */
	color: yellow;
	border: 1px solid white; 
	outline: none;
    border-radius: 17px 17px 17px 17px; 
    -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
    -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
    -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
   }
   
 
   
   
  
	 #twoIconsInMiddleTop div {
	 float:left;
	 margin: 0 56px;
    width: 320px;
	padding: 56px 30px 78px 30px;
	text-align: center;
	font-family: MyriadProRegular, Arial, sans-serif; 
    font-size: 12pt;  
	line-height: 20pt;

	 
   }
  
  #twoIconsInMiddleTop div img {
	padding-bottom: 18px;
   }
  
  
    #middleDown{
	text-align: center;
   }
  
      #middleDown img.RecentWork {
	margin-top: 30px;
	margin-bottom: 20px;
   }
   
   
      #middleDown p {
	margin-top: 0px;
	margin-left: 260px;
	margin-right: 260px;
	font-family: MyriadProRegular, Arial, sans-serif; 
    font-size: 16pt; 
	line-height: 24pt;
   }
  
	#divWith6images{
	margin: 0 auto;
    width: 590px;
	margin-top: 0px;
	 
	}
  
  #divWith6images img.gallery{
	height: 120px;
	width: 180px;
	margin: 5px;}
	
	
	/* footer */
	 
	 
	#inFooterBoxForTwo{
 	width: 610px;
	margin: 0px auto;
	padding-top: 60px;
    

	 
  }
	
   
  
  
  #footerLefter{
	text-align: left;
	width: 420px;
	
	 float:left;
	 
	
  }
  
  #footerRighter{
	width: 170px;
	
   float:right;


  }
  
  #buttonOnDown{
	display:  block;
	margin: 30px auto 8px auto;
    height: 30px;
	width: 126px;
	vertical-align: middle;
	font-family: ProximaNovaSemibold, Arial;
	font-size: 9pt;
	background-color: #76ae29;
	color: #ffffff;
    border: none; 
    border-radius: 17px 17px 17px 17px; 
   -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
   -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
   -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
	
  }
  
  
  #buttonOnDown:hover {
  
  background: black; /* Цвет фона */
   color: white;
      border: none; 
	  
  
	   outline: none;
   border-radius: 17px 17px 17px 17px; 
   -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
   -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
   -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
   }
  
  
  #buttonOnDown:focus {
    
	background: black; /* Цвет фона */
	color: yellow;
	border: 1px solid grey; 
	outline: none;
    border-radius: 17px 17px 17px 17px; 
    -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
    -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
    -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
   }
   
	
	
	#footer p  {
	
	font-family: MyriadProRegular, Arial, sans-serif; 
    font-size: 12pt; 
	line-height: 24pt;
   }
	
	
	#footer img  {
	
    display: block; 
	padding-bottom: 18px;
  
   }
	
	#divLine {
	border-bottom: 1px solid #ececec; 
	position:relative; 
	top:92px; 
	width: 610px; 
	margin: 0 auto;
	}
	
	#divBottomFooter{
	border: none; 
	margin: 0 auto; 
	text-align: center; 
	position:relative; 
	top:98px; 
	width:390px
	}
	
	#divBottomFooter p{
	font-family: MyriadProRegular, Arial, sans-serif; 
    font-size: 10pt; 
	line-height: 24pt;
	}
	
	#divIconsInFooter { 
	margin: 0 auto; 
	position:relative; 
	top:20px; 
	width: 134px;
	height: 30px;
 
	
	}
	
	#divIconsInFooter img { 
	 margin: 2px;
	 float: left;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
  